@model IEnumerable<DummyBearKingdom.Models.Review>

@{

    ViewData["Title"] = "Reviews";
    Layout = "_Layout";

}

<h1>Reviews</h1>
<h3>All reviews posted here. Or you can go to the products page to see reviews based on each product</h3>

<ul>
    @foreach(var r in Model)
    {
        <li>Product: WILL GO HERE, by @Html.DisplayFor(review => r.Author) | DETAILS HERE? LINK OR CONTENT?</li>
    }
        
</ul>

<p>@Html.ActionLink("Go Back", "Index", "Home")</p>